<h1>Dashboard for IDEAS</h1>

<%= link_to "Create a New Idea", new_idea_path %>

<% @user_ideas.each do |i| %>
	<h2><%= link_to "#{i.title}", idea_path(i) %></h2>
	<p><%= time_ago_in_words(i.created_at) %></p>
<% end %>
<%= paginate @user_ideas %>
